@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Serif+NP+Hmong:wght@500&display=swap');
.root {
    -fx-background-image: url("images/backroundChooseLevel.jpg");
    -fx-background-size: cover;
}

.text {
    -fx-fill: #ffffff;
    -fx-font-family: 'Noto Serif NP Hmong';
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 0;
}

.easyButton{
    -fx-background-image: url("images/easyRegion.png");
    -fx-min-width: 600px;
    -fx-min-height: 100px;
    -fx-max-width: 600px;
    -fx-max-height: 100px;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 600px 100px;
    -fx-background-position: bottom left;
    -fx-background-color: transparent;

}
.mediumButton{
    -fx-background-image: url("images/mediumRegion.png");
    -fx-min-width: 600px;
    -fx-min-height: 100px;
    -fx-max-width: 600px;
    -fx-max-height: 100px;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 600px 100px;
    -fx-background-position: bottom left;
    -fx-background-color: transparent;
}
.hardButton{
    -fx-background-image: url("images/hardRegion.png");
    -fx-min-width: 545px;
    -fx-min-height: 150px;
    -fx-max-width: 545px;
    -fx-max-height: 150px;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 545px 150px;
    -fx-background-position: bottom left;
    -fx-background-color: transparent;
}
.backbutton {
    -fx-background-image: url("images/backButton.png");
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px 50px;
    -fx-background-position: bottom left;
    -fx-background-color: transparent;
}

.continuebutton {
    -fx-background-image: url("images/continueButton.png");
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px 50px;
    -fx-background-position: bottom right;
    -fx-background-color: transparent;
}


.button:hover {
    -fx-background-color: #c4b369;
    -fx-background-radius: 10px;
}
.continuebutton:hover, .backbutton:hover {
    -fx-background-color: transparent;
}


.choose-character-title {
    -fx-font-family: 'Dancing Script';
    -fx-font-weight: bold;
    -fx-font-size: 36px;
    -fx-fill: #070603;
}


.character-cost {
    -fx-font-size: 14px;
    -fx-fill: #FFD700;
}

